// Для импорта в диспетчер подключений: @import './src/blocks/index-header/index-header.less';

@import '../../less/variables.less';     // только для удобства обращения к переменным


.index-header {
  &__inner {
    .container();
    .padding-top(md);
    .padding-bottom(md);

    @media (min-width: @screen-md) {
      .padding-bottom(xxl);
      background-image: url('../img/pos.png');
      background-repeat: no-repeat;
      background-position: right;
      background-size: contain;
    }
    @media (min-width: @screen-lg) {
      .padding-bottom(xxl);
      background-image: url('../img/pos@2x.png');
    }
    @media (min-width: @screen-xl) {
      .padding-bottom(xxl);
      background-image: url('../img/pos@3x.png');
    }
  }

  &__title {
    color: @text-color--inverse;
  }

  &__text {
    .margin-bottom(lg);

    color: @text-color--inverse;
    line-height: 1.6;
    font-weight: lighter;
  }

  &__btn-wrapper {
    @media (max-width: @screen-md) {
      text-align: center;
    }
  }
  .btn {
    .margin-bottom(lg);
  }

  &__img {
    .hidden-up(md);

    text-align: center;

    figure {
      width: 100%;
      height: auto;
      margin: 0;
    }
  }
}
