<!--DEV

Нужно убрать пробел между @-ами:

@ @include('blocks/navbar/navbar.html')

-->
<ul class="main-nav__list">
    <li class="main-nav__item @@if (page == 'sim_cards') {main-nav__item-active}">
        <a href="sim_cards.html" class="main-nav__link">
            <span class="main-nav__link-text">SIM Cards</span>
        </a>
    </li>
    <li class="main-nav__item @@if (page == 'pinless') {main-nav__item-active}">
        <a href="pinless.html" class="main-nav__link">
            <span class="main-nav__link-text">Pinless</span>
        </a>
    </li>
    <li class="main-nav__item @@if (page == 'e-pins') {main-nav__item-active}">
        <a href="e-pins.html" class="main-nav__link">
            <span class="main-nav__link-text">E-pins</span>
        </a>
    </li>
    <li class="main-nav__item @@if (page == 'phone-unlocking') {main-nav__item-active}">
        <a href="phone-unlocking.html" class="main-nav__link">
            <span class="main-nav__link-text">Phone Unlocking</span>
        </a>
    </li>
    <li class="main-nav__item @@if (page == 'creditcard_processing') {main-nav__item-active}">
        <a href="creditcard_processing.html" class="main-nav__link">
            <span class="main-nav__link-text">Credit Card Processing</span>
        </a>
    </li>
</ul>
